extends layout

block content
  header.w3-container.w3-teal.w3-card-4
    h1.w3-center #{title}
  
  .w3-container.w3-section
    .w3-card-4
      table.w3-table.w3-table-all
        tr
          th Sigla
          th Designação
          th Internacional
          th Ver
        each entity in entities        
          tr
            td= entity.sigla
            td= entity.designacao
            if entity.internacional !== ""
              td= entity.internacional
            else
              td= "Não"
            td
              a(href='/entidades/' + entity.id)
                button.w3-button.w3-blue-grey Visualizar
            

