extends layout

block content
    header.w3-container.w3-teal.w3-card-4
        h1.w3-center #{title}

    .w3-container.w3-section
        .w3-card-4
            table.w3-table.w3-table-all
                tr 
                    th Categoria
                    th Ano
                    th Primeiro Nome
                    th Apelido
                    th Ver Prémio
                each laureado in laureados
                    tr
                        td= laureado.category
                        td= laureado.year
                        td= laureado.firstname
                        td= laureado.surname
                        td
                            a(href='/nobel/premio/' + laureado._id)
                                button.w3-button.w3-blue-grey Visualizar

