extends layout

block content
    header.w3-container.w3-teal.w3-card-4
        h1.w3-center #{premio.category} #{premio.year} 

    .w3-container.w3-section
        .w3-card-4
            table.w3-table.w3-table-all
                tr 
                    th Categoria
                    th Ano
                    if premio.overallMotivation !== undefined
                        th Motivação Geral
                tr
                    td= premio.category
                    td= premio.year
                    if premio.overallMotivation !== undefined
                        td= premio.overallMotivation

    .w3-container.w3-section
        .w3-card-4
            label
                b Laureates
            table.w3-table-w3-table-all
                tr
                    th First Name
                    th Sur Name
                    th Motivation
                each laureate in premio.laureates
                    tr
                        td= laureate.firstname
                        td= laureate.surname
                        td= laureate.motivation
                