extends layout
block form_content
    header.w3-container.w3-teal
        h3.w3-center Gestão de Tarefas

    .w3-container.w3-section
        .w3-card-4
            form.w3-container.w3-padding-16(action='/tarefa', method='POST')
                .w3-container.w3-margin-top
                    label Tarefa
                    input.w3-input.w3-border.w3-light-grey(type='text', 
                        name='nome', 
                        style='position:relative; top: -28px; left:95px; width:95%')

                .w3-container.w3-margin-top
                    label Data Limite
                    input.w3-input.w3-border.w3-light-grey(type='text', 
                        name='data',
                        style='position:relative; top: -28px; left:95px; width:95%')

                input.w3-btn.w3-blue-grey.w3-padding-large(type='submit', value='Enviar', style='float:right')
block tasks
    .w3-container.w3-section
        .w3-card-4
            .w3-display-container
                table.w3-table.w3-table-all
                    tr 
                        th Tarefa
                        th Data Limite
                        th 
                    each tarefa in tarefas
                        tr
                            td= tarefa.nome
                            td= tarefa.data
                            form(action = '/remover' ,method='POST')
                                td
                                    input(type='hidden', value=tarefa.id, name='id')
                                    input.w3-btn.w3-blue-grey(value='Remover', type='submit') 